.card-quiz{
    min-width: 600px;
    min-height: 300px;
    background-color: #393F6E;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    h4{
        margin: 12px;
        color: #8B8EAB;
        font-size: 14px;
    }
}

.question-number{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.container-answer{
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}