body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: aqua;
}

*{
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  color: #E2E4F3;
}

#root{
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/bg.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}